body, * {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.App {
  background-image: url('./assets/images/backgroundGradients.png');
  background-size: cover;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 32em;
  display: flex;
  justify-content: space-between;
}

